
<style>
  #linci {
    position: :absolute;
    top:0px;
    list-style-type: none;
    background-color: rgb(230, 225, 219);
    background: radial-gradient(rgb(245, 245, 245), rgb(250, 250, 250), rgb(255, 255, 255));
    text-align: center;
    margin-bottom: 0px;
  }
  #linci li {
    display: inline-block;
    width: 90px;
    padding:5px;
    background-color:white;
    font-family: sans-serif;
    font-weight: bold;
    margin:20px;
    border-radius: 10px;
    text-align: center;
    border: solid 1px black;

  }
  #linci li:hover{
    background-color: black;
    cursor:pointer;
  }
  #linci li:hover a {
    color:white;
    text-decoration: none;
    font-weight: bold;
  }
  #linci a {
    color:black;
    font-size: 18px;
  }
</style>

<ul id="linci">
  <li><a href="/">Home</a></li>
  <li><a href="/films">Films</a></li>
  <li><a href="/places">Places</a></li>
</ul>
