    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
<style>
    #tja {
    font-size: 20px;
    }
</style>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <div id="tja">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/films">Films</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="/places">Places</a>
          </li>
        </ul>
    </div>
      </div>
    </nav>